#logo {
  float: left;
  font-size: 1.7em;
  color: #3f6648;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: red;
  text-decoration: none;
} 

.center {
  text-align: center;
}
.jumbotron {
  background-image: url("~cover.jpeg");
  background-size: cover;
  height: 300px;
}
.jumbotron h1 {
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
.jumbotron h2 {
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
 
